{% include 'header.html' %}
{% load static %}


	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-01.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-02.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-03.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Welcome to Style Fusion, where innovation meets convenience to bring you the best in online shopping. Established with a passion for excellence, we pride ourselves on offering a diverse range of high-quality products at competitive prices, all backed by exceptional customer service. Our user-friendly platform ensures a seamless shopping experience, from browsing our extensive catalog to enjoying fast and reliable delivery. Committed to sustainability and ethical practices, we source products responsibly and aim to minimize our environmental impact. Join us on our journey to redefine retail, one satisfied customer at a time.
						</p>

						<p class="stext-113 cl6 p-b-26">
							We are not just an e-commerce platform; we are a community. Our customer support team is always ready to assist you with any inquiries or concerns, providing a responsive and friendly service that you can count on. We also offer flexible payment options and a hassle-free return policy to make your shopping experience as smooth as possible. As we continue to grow, our mission remains the same: to provide unparalleled value, quality, and service to our customers. Thank you for choosing [Your E-commerce Store] as your go-to destination for all your shopping needs. We look forward to serving you and making your online shopping experience truly exceptional.





						</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in store at Style Fusion Center 3th floor, Apollo Tower,Mahatma Gandhi Rd, South Tukoganj, Indore, Madhya Pradesh 452001 or call us on +91 9174736500


						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">

							At Style Fusion, our mission is to revolutionize the way people shop online by providing an unparalleled shopping experience that combines convenience, quality, and sustainability. We are committed to offering a diverse selection of products that meet the highest standards of craftsmanship and innovation, all while ensuring transparency and ethical sourcing practices. Our goal is not only to meet but to exceed customer expectations at every touchpoint, from browsing to checkout. We strive to foster a community of empowered shoppers who are inspired to make informed purchasing decisions and join us in our journey towards a more sustainable future. With a relentless focus on customer satisfaction and continuous improvement, we aim to become the ultimate destination for discerning shoppers seeking both value and values in their online shopping experience.






						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'images/about-02.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		
{% include 'footer.html' %}
